<!doctype html>
<html lang="en">

<head>
    <title>ChatVue</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/main.css?50">

    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <div id="chat">
            <div class="container">
                <div class="row" v-for="pergunta in perguntas.slice(0, perguntaId+1)">
                    <balaodefala v-bind:fala="pergunta.pergunta" v-bind:key="perguntaId"> </balaodefala>
                    <balaodefala v-if="pergunta.resposta != ''" class="offset-sm-4 right" v-bind:fala="pergunta.resposta" v-bind:key="pergunta.id"> </balaodefala>

                </div>
            </div>
        </div>
        <div id="inputs">
            <div class="container">
                <div class="row">
                    <div v-if="this.perguntas[this.perguntaId].type == 'button'" class="col-12">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group mr-2" role="group" v-for="button in this.perguntas[this.perguntaId].buttons">
                                <button type="button" class="btn btn-secondary" v-on:click="cliqueBotao(button)">{{button}}</button>
                            </div>
                        </div>
                    </div>
                    <div v-if="this.perguntas[this.perguntaId].type == 'text'" class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control" :id="perguntas[this.perguntaId].type" v-model="resposta" v-on:keyup.enter="cliqueBotao(resposta)" placeholder="Insira sua reposta" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info" v-on:click="cliqueBotao(resposta)"><img src="./assets/img/arrow.svg" alt=""> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- Javascript  -->
    <script src="./componentes/BalaoDeFala.js"></script>
    <script src="./assets/Vue.js?5"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="./assets/main.js"></script>



</body>

</html>